/* write your css here */
#upper-background {
  background-image: url(../src/assets/asset\ 7.jpeg);
  min-height: 100vh;
  max-width: 100vw;
  background-size: cover;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
}
